/* === Animations
============ */
@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

/* === Layout
============ */
.container {
    width: 80%;
    margin: 0 auto;
    font-family: Manrope;
    color: #242739;
}

/* === Common
============ */
/* === BTNs */
.btn {
    border-radius: 20px;
    font-size: 1rem;
}

.btnInvisible {
    background-color: transparent;
    color: black;
}

.btnPrimary {
    background-color: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btnPrimary:hover {
    background-color: var(--main-color);
    color: white;
}

/* === icons */
.icon {
    width: 21px;
    height: 21px;
    fill: var(--main-color);
    margin-bottom: 1em;
}

/* === Nav
============ */
.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em 0;
    margin-bottom: 5.5em;
}

.title {
    color: var(--main-color);
    font-size: 1.4rem;
}


/* === Hero
============ */
.heroDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-bottom: 11em;
}

.heroLeftDiv {
    width: 50%;
    animation: slideLeft 0.55s ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: 0.1s;
}

.heroTitle {
    font-size: 3.2rem;
    font-weight: 800;
    margin-bottom: 0.3em;
}

.heroSubtitle {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 1em;
}

.btnHero {
    font-size: 1.2rem;
    background-color: var(--main-color);
    color: white;
}

/* .heroRightDiv {
    width: 50%;
} */
.heroSVG {
    width: 540px;
}

@media (max-width: 900px) {
    .heroSVG {
        height: 200px;
        width: 300px;
    }
}

/* === Break Area 1
============ */
.areaOneDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 10em;
    opacity: 0;
}

.intersected {
    opacity: 1;
    animation: slideUp 0.4s ease-in-out;

}

.cardOneDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 33.33%;
    padding: 0 3em;
}

.cardOneDiv:last-of-type {
    margin-right: 0;
}

.cardOneTitle {
    margin-bottom: 0.5em;
}

.googleIcon {
  fill: var(--main-color);
  margin-bottom: 1rem;
}


/* === CTAAreoOne
============ */
.ctaOneDiv {
    margin-bottom: 9em;
    animation: slideLeft 0.55s ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: 0.1s;
}

.bodyTitle {
    width: 63%;
    margin: 0 auto;
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: 0.3em;
}

.bodySubTitle {
    font-size: 1.4rem;
    margin-bottom: 1.5em;
}

.btnCTA {
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
    font-size: 1.25rem;
}

.taskListSVG {
    width: 650px;
}

/* === how To Area
============ */
.howToDiv {
    margin-bottom: 9em;
}

.howToTitleDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.howToTitle {
    display: inline-block;
    margin-bottom: 1.5em;
}
.howToTitle::after {
    content: '';
    display: block;
    height: 3px;
    width: 35%;
    margin: 0 auto;
    margin-top: 0.1em;
    background-color: var(--main-color);
}

.howToCardsDiv {
    padding: 0 5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4em;
}

.howToCardDiv {
    padding: 1.5em;
    text-align: center;
    border-radius: 15px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.15), -2px -2px 4px rgba(0,0,0,0.03);
}

.howToCardNumber {
    color: var(--main-color);
    margin-bottom: 0.4em;
}

.howToCardTitle {
    margin-bottom: 1em;
}


/* === In Action Area
============ */
.inActionDiv {
    margin-bottom: 16em;
}


/* === Last CTA Area
============ */
.ctaLastDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-bottom: 5em;
}

.ctaLastLeftDiv {
    width: 50%;
    margin-right: 2em;
}

.btnLastCTA {
    font-size: 1.2rem;
}

.activitySVG {
    width: 450px;
}