html {
	box-sizing: border-box;
}

table {
	border-collapse: collapse;
}

th {
	border: 1px solid white;
}

h4 {
	margin: 0;
}

li {
	list-style-type: none;
	margin-right: 1em;
}

.App {
	text-align: center;
}

/* =====
COMMON 
==== */
.btn {
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #282c34;
	color: white;
	padding: 0.5em 1.25em;
	border-radius: 5px;
}

.btn-icon {
	border: none;
	cursor: pointer;
	background-color: transparent;
	padding: 0.5em;
}

.btn:hover,
.btn:focus {
	opacity: 0.9;
}

.btn-icon:hover,
.btn-icon:focus {
	opacity: 0.7;
}

.container {
	width: 90%;
	margin: 0 auto;
}

/* =====
NAVBAR 
==== */
.App-navbar {
	background-color: #282c34;
	display: flex;
	text-align: left;
	color: white;
}

.nav-container {
	display: flex;
	justify-content: space-between;
}

.header-title {
	font-size: 1.5em;
	padding: 0.5em 0;
}

.nav-links {
	display: flex;
}

/* =====Modals====== */
@keyframes backdrop-opacity {
	0% {
		opacity: 0
	}
}
.modal {
	position: fixed;
	width: 25%;
	left: 37.5%;
	top: 15vh;
	z-index: 100;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	background-color: white;
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 50;
	background-color: rgb(0, 0, 0);
	opacity: 0.8;

	animation-name: backdrop-opacity;
    animation-duration: 0.3s;
}

.close {
	cursor: pointer;
}
.close:after,
.close:before {
	content: '';
	height: 20px;
	width: 20px;
	border-top: 1px solid #000;
	position: absolute;
	top: 13px;
	right: 0;
	transform: rotate(-45deg);
}

.close:before {
	right: 14px;
	transform: rotate(45deg);
}

.close:hover {
	opacity: 0.7;
}

/* =====
Forms
==== */
/* ====NEW HABIT FORM==== */
.habit-form {
	margin: 2em 0;
	min-width: 380px;
	width: 30%;
	padding: 1em;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.habit-input {
	margin-right: 1em;
}

/* ====AUTH FORM===== */
.auth-form {
	padding: 0 2.5em;
}

.auth-form-title {
	font-size: 2em;
	margin: 0 auto;
	margin-bottom: 0.5em;
	padding: 0.5em 0;
	border-bottom: 1px solid silver;
}

.auth-form-text-field {
	position: relative;
	border-bottom: 2px solid #adadad;
	margin: 1.85em 0;
}

.auth-form-text-field input {
	width: 100%;
	padding: 0 0.3em;
	height: 2.5em;
	font-size: 1rem;
	border: none;
	background: none;
	outline: none;
}

.auth-form-text-field label {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 5px;
	font-size: 1rem;
	color: #adadad;
	transition: top 0.5s;
	pointer-events: none;
}

.auth-form-text-field span::before {
	content: '';
	position: absolute;
	left: 0;
	width: 0%;
	height: 2px;
	background: #2691d9;
	transition: width 0.5s;
}

.auth-form-text-field input:focus ~ label,
.auth-form-text-field input:valid ~ label {
	top: -5px;
	color: #2691d9;
}

.auth-form-text-field input:focus ~ span::before,
.auth-form-text-field input:valid ~ span::before {
	width: 100%;
}

.auth-btn {
	width: 100%;
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 0.5em;
	border-radius: 25px;
}

.auth-btn:disabled {
	opacity: 0.5;
	cursor:initial;
}

.switch-login_signup {
	margin-bottom: 2em;
}

.auth-link {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1em;
	color: #2691d9;
}

.auth-link:hover,
.auth-link:focus {
	text-decoration: underline;
}

/* =====
Table 
==== */

.habit-table {
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	margin-bottom: 6em;
}

.table-first-row {
	background-color: #282c34;
	color: white;
}

.table-first-row > * {
	border: none;
}

.table-habit-title-cell {
	width: 500px;
}

.table-habit-title {
	font-size: 1.25em;
}

.days-small {
	font-size: 0.65em;
}

.table-day-cell {
	width: 30px;
	padding: 0.8em 0;
}

.table-day-cell:last-of-type {
	padding-right: 0.3em;
}

.habit-row {
	border-bottom: 1px solid #dddddd;
}

.habit-row:last-of-type {
	border-bottom: 1px solid #282c34;
}

.habit-row:last-of-type > th {
	border-bottom: 1px solid #282c34;
}

.habit-row:last-of-type > .habit-row-infos {
	border-bottom: none;
}

.habit-row-infos {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.th-habit-name {
	margin: 0;
	padding: 0.5em 0.5em;
}

.th-undo-clear-div {
	display: flex;
}

.th-undo-btn {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}

.green-counter,
.red-counter {
	font-weight: 600;
	margin: 0;
	padding: 0.5em;
}

.green-counter{
	color: green;
}

.red-counter{
	color: red;
}

.th-plus-minus-div {
	display: flex;
}

.btn-minus {
	color: red;
}

.btn-plus {
	color: green;
}

.btn-undo {
	padding: 0;
}

/* To make table scrollable : (and wrap with div 'habit-table-container')
======================== */
/* .habit-table-container {
	max-height: 500px;
	overflow: auto;
	margin-bottom: 6em;
	width: 80%;
}

.habit-table-container thead th,
.habit-table-container thead tr {
	position: sticky;
	top: 0;
}

.habit-table-container::-webkit-scrollbar {
	width: 10px;
}

.habit-table-container::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

.habit-table-container::-webkit-scrollbar-thumb {
	background: #dddddd;
	border-radius: 10px;
}

.habit-table-container::-webkit-scrollbar-thumb:hover {
	background: #282c34;
}

.habit-table {
	overflow: unset;
	width: 100%;
	margin-bottom: 0;
} */
