
.topStatsDiv {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.topStatsContainer {
    width: 90%;
    max-width: 920px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.15), -2px -2px 4px rgba(0,0,0,0.03);
    padding: 1.5em;
    border-radius: 10px;
}

.topTitleDiv{
    margin-bottom: 1em;
}

.topContentDiv {
    display: flex;
    justify-content: center;
}

.textStats {
    display: flex;
}
.statBoxDiv {
    /* background-color: var(--main-color);
    color: white; */
    background-color: rgba(32, 201, 139,0.82);
    color: rgb(32, 201, 139);
    color: white;
    /* font-weight: bold; */
    font-size: 0.9rem;
    padding: 1em 2em;
    border-radius: 10px;
}

.neutralColor {
    /* background-color: #9B9EA3; */
    background-color: rgba(155, 158, 163,0.82);
    color: rgb(155, 158, 163);
    color: white;
}
.greenColor {
    /* background-color: #2CABE3; */
    background-color: rgba(86, 202, 0, 0.74);
    color: rgb(86,202,0);
    color: white;
}
.redColor {
    /* background-color: #FFC36D; */
    background-color: rgba(255, 76, 81, 0.75);
    color: rgb(255, 76, 81);
    color: white;
}

.marginRight {
    margin-right: 1em;
}

.bottomStatsDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
}

.bottomStatsContainer {
    width: 90%;
    max-width: 920px;
    display: flex;
    justify-content: space-between;
}

.pieDiv,
.barChartDiv {
    padding: 1em;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.15), -2px -2px 4px rgba(0,0,0,0.03);
    border-radius: 10px;
}

.pieTextStats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.barChart {
    height: 250px;
    margin-top: 100px;
    display: flex;
    align-items: baseline;
}

.barTextStats {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}


@media (max-width: 600px) {

    .pieTextStats {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .topContentDiv {
        flex-direction: column;
    }

    .statBoxDiv {
        margin: 0 1em 1em 1em;
    }

    .bottomStatsContainer {
        flex-direction: column;
    }

    .chartDiv {
        display: flex;
        justify-content: center;
    }

    .pieDiv {
        margin-bottom: 3em;
    }

}