.background {
	background-color: #F0F4F8;
}

.formContainer {
	min-height: 100vh;
	width: 90%;
	max-width: 1140px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.formDiv {
	width: 40%;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
	background-color: white;
	border-radius: 20px;
	padding: 2em 0;
}

/* ====AUTH FORM===== */
.authForm {
	padding: 0 2.5em;
}

.logo {
	font-size: 1.7rem;
	color: var(--main-color);
	margin-bottom: 0.5em;
}

.title {
	font-size: 2rem;
	margin-bottom: 0.5em;
	padding-bottom: 1em;
	border-bottom: 1px solid silver;
}

.textField {
	position: relative;
	border-bottom: 2px solid #adadad;
	margin: 1.85em 0;
}

.textField input {
	width: 100%;
	padding: 0 0.3em;
	height: 2.5em;
	font-size: 1rem;
	border: none;
	background: none;
	outline: none;
}

.textField label {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 5px;
	font-size: 1rem;
	color: #adadad;
	transition: top 0.5s;
	pointer-events: none;
}

.textField span::before {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 0%;
	height: 2px;
	background: #2691d9;
	transition: width 0.5s;
}

.textField input:focus ~ label,
.textField input:valid ~ label {
	top: -10px;
	color: #2691d9;
}

.textField input:focus ~ span::before,
.textField input:valid ~ span::before {
	width: 100%;
}

.btn {
	width: 100%;
	font-size: 1.3rem;
	font-weight: bold;
	margin-bottom: 0.5em;
	border-radius: 25px;
}

.btn:disabled {
	opacity: 0.5;
	cursor:initial;
}

.btn:disabled:hover {
	opacity: 0.5;
	cursor:initial;
}

.link {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1rem;
	color: #2691d9;
}

.link:hover,
.link:focus {
	text-decoration: underline;
}

.errorDiv {
	margin-bottom: 0.5em;
}

.errorMessage {
	color: red;
}

/* ====Demo==== */
.demoText {
	width: 80%;
    margin: 0 auto;
    padding: 0.5em;
    border-radius: 20px;
    color: var(--main-color);
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 1.4rem;
}

.demoSuccess {
	width: 80%;
    margin: 0 auto;
    padding: 0.5em;
    border-radius: 20px;
	background-color: var(--main-color);
	color: white;
	font-weight: bold;
    margin-bottom: 1em;
    font-size: 1.4rem;
}